body {
    padding-top: 60px;
}

.multiselect {
    width: 95%;
    height: 200px;
    border: solid 1px #c0c0c0;
    min-width: 200px;
    display: block;
    right: 10px;
    border-radius: 4px;
}

.multiselect label {
    display: inline-block;
    margin-left: 2px;
}

fieldset {
    padding-left: 10px !important;
    /*padding-bottom: 10px !important;*/
    padding-right: 0;
    padding-top: 0;
}

legend {
    margin-bottom: 5px;
}

.multiselect input {
    margin-left: 5px;
    margin-right: 5px;
}

.multiselect-on {
    color: #ffffff;
    background-color: #333333;
}

.span9 {
    height: 544px;
}

.btn-group {
    bottom: 4px;
}

.modal-footer{
    height: 30px;
}

.container1 {
    height: 45px;
    display: none;
    width: 100% !important;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 1000;
}

.content1 {
    height: 45px
}

/* STOP ANIMATION */

.stop {
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
}

/* Second Loadin Circle */

.circle {
    background-color: rgba(0,0,0,0);
    border:5px solid rgba(51, 51, 51, 0.90);
    opacity:.9;
    border-right:5px solid rgba(0,0,0,0);
    border-left:5px solid rgba(0,0,0,0);
    border-radius:50px;
    box-shadow: 0 0 35px #161616;
    width:50px;
    height:50px;
    margin:0 auto;
    -moz-animation:spinPulse 5s infinite ease-in-out;
    -webkit-animation:spinPulse 5s infinite linear;
}
.circle1 {
    background-color: rgba(0,0,0,0);
    border:5px solid rgba(51, 51, 51, 0.90);
    opacity:.9;
    border-left:5px solid rgba(0,0,0,0);
    border-right:5px solid rgba(0,0,0,0);
    border-radius:50px;
    box-shadow: 0 0 15px #333333;
    width:30px;
    height:30px;
    margin:0 auto;
    position:relative;
    top:-50px;
    -moz-animation:spinoffPulse 5s infinite linear;
    -webkit-animation:spinoffPulse 5s infinite linear;
}

@-moz-keyframes spinPulse {
    0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #333333;}
    50% { -moz-transform:rotate(145deg); opacity:1; }
    100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
    0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #333333; }
    50% { -webkit-transform:rotate(145deg); opacity:1;}
    100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
}